{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h5 class="text-center mt-5 mb-5">Оформление заказа</h5>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success fade show" role="alert">
                <strong>{{ message }}</strong>
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Общая цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.products.all %}
                <tr>
                    <th scope="row">{{ item.display_name }}</th>
                    <td class="w-25"><img src="{{ item.content_object.image.url }}" class="image-fluid" alt="Не удалось загрузить изображение"/>
                    </td>
                    <td>{{ item.content_object.price }} руб.</td>
                    <td>{{ item.qty }} шт.</td>
                    <td>{{ item.final_price }} руб.</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>Итого:</td>
                <td>{{ cart.total_products }}</td>
                <td><strong>{{ cart.final_price }}</strong></td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center mt-5 mb-5">Форма заказа</h3>
    <form action="{% url 'make-order' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ">
    </form>
{% endblock content %}